{% extends 'base.html' %}
{% block content %}
<h5>{{ post.subreddit.name }}</h5>
<h3>{{ post.title }} - {{ post.user }} {{ post.vote_count }}</h3>

{{ post.body }}
{% if request.user.is_authenticated %}
{% include 'partials/_postvote.html' %}
{% endif %}

{% if request.user.is_authenticated %}
<h5>Comment</h5>
<form class="" action="{% url 'comment_create_view' post.id %}" method="post">
  {% csrf_token %}
  <input type="text" name="body" value="">
  <input type="submit" value="Submit">
</form>

{% for comment in post.comment_list %}
{% include 'partials/_commentvote.html' %}
{% endfor %}
{% endif %}



{% endblock %}
