<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="{% url 'post_upvote_view' post.id %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="value" value="true">
      <input type="submit" value="+">
    </form>

    <form class="" action="{% url 'post_downvote_view' post.id %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="value" value="false">
      <input type="submit" value="-">
    </form>
  </body>
</html>
